<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>
<form th:object="${person}" th:action="@{/persons}" method="post">
    <div>
        <label for="firstname">Firstname:</label>
        <input id="firstname" th:field="${person.firstname}" type="text"/>
    </div>
    <div>
        <label for="lastname">Lastname:</label>
        <input id="lastname" th:field="${person.lastname}" type="text"/>
    </div>
        <label for="birthday">Birthday:</label>
        <input id="birthday" th:field="${person.birthday}" type="date"/>
    <div>
        <input type="submit">
    </div>
</form>
</body>
</html>