<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>
<h1>Welcome to Wishlist main page!</h1>

<a href="/persons/add">Create a new user</a>
<div th:each="person : ${persons}">
    <h3 th:text="${person.firstname + ' ' + person.lastname}"></h3>
    <a th:href="@{/persons/{personId}/wishes/add(personId=${person.id})}">Create a new wish</a>
    <h4>Wishes for:</h4>
    <div th:each="wish : ${person.wishes}">
        <span th:text="'Description: ' + ${wish.description}"></span>
        <span th:text="'Status: ' + ${wish.status}"></span>
    </div>
</div>

</body>
</html>